streamlit
pandas
numpy
plotly
scipy
scikit-learn
gspread
google-auth
google-auth-oauthlib
google-auth-httplib2
openai
google-generativeai
groq
httpx
PyGithub
cryptography
langdetect
deep-translator
streamlit-extras
retrying
huggingface-hub
aiohttp
